body {
  font-family: "PT Serif", serif;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  padding: 30px;
}
.searchBar {
  text-align: center;
  display: block;
  margin: 0 auto;
}
h1 {
  text-align: center;
  font-size: 20px;
  padding-top: 20px;
  margin-bottom: 20px 0 30px 0;
}
h2 {
  text-align: center;
  font-size: 50px;
}
h3 {
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  margin-top: 30px;
}
.card-title {
  text-align: center;
  font-weight: 900;
}
.card-text {
  text-align: center;
}
.card {
  text-align: center;
  background-color: unset;
  border-width: medium;
  border-color: teal;
  margin: 10px auto;
}
.row3 {
  font-size: 50px;
  text-align: center;
}
.row4 {
  text-align: center;
}
.row2 {
  text-align: center;
}

.row1,
row2,
row3,
row4,
row5,
row6,
row7 {
  text-align: center;
}
